<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">
        <div class="container">
          <a class="navbar-brand" href="#">CAVA</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <!--<li class="nav-item active">
                <a class="nav-link" href="#">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Career Fair</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Notification</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
              </li>-->
              <!-- <li class="nav-item">
                <a class="nav-link" href="#">Admin Login</a>
              </li> -->
            </ul>
          </div>
        </div>
      </nav>
    
      <div class="containerb">
        <div class="card border-0 shadow my-5" style="margin: 100px;">
      
          <div class="card-body p-5" style="padding:20px; margin-bottom: 20px">
            <h1 class="font-weight-light" style="text-align: center">Companies</h1>
            <!-- <p class="lead" style="text-align: center">Grab an opprtunity to meet your recruiters</p> -->
            <div class="row" style="text-align: center;">
    
              <!-- Card for career fairs - hardcoded data used for now -->
                <div class="col-sm-4 py-2 col-lg-12 col-md-6" style="text-align: center;">
                    <div class="card h-100 border-primary" style="text-align: center;">
                        <div class="card-body" style="text-align: center;" *ngFor = "let company of companies">
                            <!-- <h3 class="card-title">Fall Career Fair 2019</h3> -->
                            <!-- <p class="card-text"style="text-align: left;">Venue : SAC</p>
                            <p class="card-text"style="text-align: left;">Date : 11/15/2019</p>
                            <p class="card-text" style="text-align: left;">Companies : -</p> -->
                            <!-- <p class="card-text">{{company.companyname}}</p> -->
                            <a class="card-text" routerLink="/companyinformation" routerLinkActive="active">{{company.companyname}}</a>
                            <!-- <a class="btn btn-outline-secondary" [routerLink]="['/companyinformation', careerFair.careerFairID]"  routerLinkActive="active">{{company.companyname}}</a>   -->
                            
                        </div>
                    </div>
                </div>
           
            </div>
          </div>
        </div>
      </div>

      </body>