body {
  background: url('../images/bgGreen.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.containerb {
  height: 100vh;
  overflow: auto;
  text-align: center;
}
  
  /* body, html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
    font-size: 9pt;
  } */

    /* div {
      margin: 10px;
      padding-bottom: 10px;
      width: 260px;
  }    */

   .title {
      padding-top: 15px;
      font-variant: small-caps;
  } 

  .submit {
      text-align: left;
      padding-top: 20px;
  }

   #AttendeeHeader{
      text-align: center;
      color: #046A38;
      padding-top: 20px;
      font-variant: small-caps;
      font-size: 30px;
  }

    .profileSectionHeader{
      align-items: left;
      color: #046A38;
      padding-top: 20px;
      font-size: 18px;
      font-stretch: extra-expanded;
      font-weight: bold;
      
  } 

 








  
  
